<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Oracle Corporation//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <display-name>swirl-engine</display-name>

    <context-param>
        <param-name>resteasy.guice.modules</param-name>
        <param-value>at.cpickl.grotlin.multi.AppModule</param-value>
    </context-param>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
    </listener>
    <!--<context-param>-->
    <!--<param-name>resteasy.guice.stage</param-name>-->
    <!--<param-value>PRODUCTION</param-value>-->
    <!--</context-param>-->
    <servlet>
        <servlet-name>resteasyServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <!--<init-param>-->
            <!--<param-name>javax.ws.rs.Application</param-name>-->
            <!--<param-value>at.cpickl.grotlin.multi.SwirlApplication</param-value>-->
        <!--</init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>resteasyServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <!-- ****************************** OBJECTIFY ****************************** -->
    <!-- see: https://code.google.com/p/objectify-appengine/wiki/Setup#Enable_ObjectifyFilter_for_your_requests -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>