<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- TODO for work with chainsaw, need to log in log4j xml format! -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>swirl-multi.log</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>


    <logger name="com.googlecode.objectify" level="WARN" />
    <!-- FINE: Exception getting module instance
         com.google.appengine.api.modules.ModulesException: Instance id unavailable -->
    <logger name="com.google.appengine.tools.development." level="WARN" />

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
