<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %logger{36} -->
            <!-- [%file:%line] -->
            <pattern>%-41(%d{HH:mm:ss.SSS} [%thread]) [%-5level] %logger{38} - %msg%n</pattern>

        </encoder>
    </appender>

    <!-- TODO MINOR for work with chainsaw, need to log in log4j xml format! -->
    <!--
    java.security.AccessControlException: access denied ("java.io.FilePermission" "/var/log/app_engine/custom_logs" "read")
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/app_engine/custom_logs/swirl-multi.log</file>

        <encoder>
            <pattern>%-41(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <logger name="com.googlecode.objectify" level="WARN" />
    <logger name="com.google.appengine" level="WARN"/>
    <logger name="com.google.apphosting" level="WARN"/>
    <logger name="com.google.inject" level="WARN"/>
    <!--<logger name="org.jboss.resteasy" level="WARN"/>-->
    <logger name="org.jboss" level="WARN"/>
    <logger name="org.apache.jasper" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <!-- https://cloud.google.com/appengine/docs/java/tools/uploadinganapp#Downloading_Logs -->
        <!-- ./appengine-java-sdk/bin/appcfg.sh request_logs myapp/war mylogs.txt -->
        <!-- TODO temporarily disabled log file ... <appender-ref ref="FILE" />-->
        <!--
        Caused by: java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "createSecurityManager")
	at java.security.AccessControlContext.checkPermission(AccessControlContext.java:375)
	at java.security.AccessController.checkPermission(AccessController.java:565)
	at java.lang.SecurityManager.checkPermission(SecurityManager.java:549)
	at java.lang.SecurityManager.<init>(SecurityManager.java:299)
	at org.slf4j.helpers.Util$ClassContextSecurityManager.<init>(Util.java:43)
	at org.slf4j.helpers.Util$ClassContextSecurityManager.<init>(Util.java:43)
	at org.slf4j.helpers.Util.<clinit>(Util.java:49)
        -->
    </root>

</configuration>
