<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %logger{36} -->
            <!-- [%file:%line] -->
            <pattern>%-41(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{38} - %msg%n</pattern>

        </encoder>
    </appender>

    <!-- TODO for work with chainsaw, need to log in log4j xml format! -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>swirl-multi.log</file>

        <encoder>
            <pattern>%-41(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.googlecode.objectify" level="WARN" />
    <logger name="com.google.appengine" level="WARN"/>
    <logger name="com.google.apphosting" level="WARN"/>
    <logger name="com.google.inject" level="WARN"/>
    <logger name="org.jboss.resteasy" level="WARN"/>
    <logger name="org.apache.jasper" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
