<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          package="at.cpickl.agrotlin" >

    <uses-permission a:name="android.permission.INTERNET" />

    <uses-permission a:name="android.permission.VIBRATE" />

    <application a:name=".SwirlApplication"
                 a:allowBackup="true"
                 a:icon="@drawable/ic_launcher"
                 a:label="@string/app_name"
                 a:theme="@style/AppTheme" >

        <!-- TODO assign custom activity style globally rather than for each activity definition -->
        <meta-data a:name="roboguice.modules"
                   a:value="at.cpickl.agrotlin.SwirlModule" />

        <activity a:name=".activity.MainActivity"
                  a:label="Main Menu"
                  a:theme="@style/MyActivity"
                  >
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity a:name=".activity.LoginActivity"
                  a:label="Login"
                  a:parentActivityName=".activity.MainActivity"
                  a:theme="@style/MyActivity"
            >
            <meta-data a:name="android.support.PARENT_ACTIVITY"
                       a:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

        <activity a:name=".activity.PlayGameActivity"
                  a:label="Game"
                  a:parentActivityName=".activity.MainActivity"
                  a:screenOrientation="landscape"
                  a:theme="@style/MyActivity"
            >
            <meta-data a:name="android.support.PARENT_ACTIVITY"
                       a:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

        <activity a:name=".activity.DebugActivity"
                  a:label="Debug"
                  a:parentActivityName=".activity.MainActivity"
                  a:theme="@style/MyActivity"
            >
            <meta-data a:name="android.support.PARENT_ACTIVITY"
                       a:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

    </application>

</manifest>
