<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.cpickl.agrotlin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- in order to check if network is turned on -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:name=".SwirlApplication"
                 android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme" >

        <!-- TODO assign custom activity style globally rather than for each activity definition -->
        <meta-data android:name="roboguice.modules"
                   android:value="at.cpickl.agrotlin.SwirlModule" />

        <activity android:name=".activity.MainActivity"
                  android:label="Swirl"
                  android:theme="@style/MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
                  android:label="Login"
                  android:parentActivityName=".activity.MainActivity"
                  android:theme="@style/MyActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

        <activity android:name=".activity.PlayGameActivity"
                  android:label="Game"
                  android:parentActivityName=".activity.MainActivity"
                  android:screenOrientation="landscape"
                  android:theme="@style/MyActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

        <activity android:name=".activity.DebugActivity"
                  android:label="Debug"
                  android:parentActivityName=".activity.MainActivity"
                  android:theme="@style/MyActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

        <activity android:name=".activity.SettingsActivity"
                  android:label="Settings"
                  android:parentActivityName=".activity.MainActivity"
                  android:theme="@style/MyActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="at.cpickl.agrotlin.MainActivity" />
        </activity>

    </application>

</manifest>
